// __fonts__
$fontRoboto : 'Roboto', sans-serif;
$fontMontserrat:'Montserrat', sans-serif;
$fontInter : 'Inter', sans-serif;
// __colors__

// $blue :#9393c4d3;
$blue-dark:#010130;

$blue :#bab7b7d3;
// $blue-dark:#094343;

// $blue :rgb(219, 180, 44);
// $blue-dark:#0c2051;

$green:#ddf9c1;
$gold : rgb(219, 180, 44);
$gold_light: rgb(255, 225, 105);
$gold_dark: rgb(201, 162, 39);
$white: #ffffff;
$black:black;